<h1>Angular Blog</h1>

<table class="table table-bordered">
  <tr>
    <th>
      Step
    </th>
    <th>
      <!-- Steps -->
    </th>
    <th>
      <!-- Images -->
    </th>
  </tr>

  <tr>
    <td>
      1
    </td>
    <td>
      Head to this Git site.
    </td>
    <td>
      <a href="https://git-scm.com" target="_blank">
        <img src="/Images/git.png">
      </a>
    </td>

    <td>
      2
    </td>
    <td>
      Click on a the download button similar to this.
    <td>
      <img src="/Images/gitDownload.png">
    </td>

    <td>
      3
    </td>
    <td>
      Execute the git file and select the default components.
    <td>
      <img src="/Images/gitSetup1.png">
    </td>

    <td>
      4
    </td>
    <td>
      When choosing your PATH environment, choose "Use Git from the Windows Command Prompt"
    <td>
      <img src="/Images/gitSetup2.png">
    </td>

    <td>
      5
    </td>
    <td>
      When choosing line ending conversions, recommended option is "Checkout Windows-style"
    <td>
      <img src="/Images/gitSetup3.png">
    </td>

    <td>
      6
    </td>
    <td>
      When choosing terminal emulator, choose to "Use Windows' default console window"
    <td>
      <img src="/Images/gitSetup4.png">
    </td>

    <td>
      7
    </td>
    <td>
      Head to this node.js site.
    </td>
    <td>
      <a href="https://nodejs.org/en/" target="_blank">
        <img src="/Images/node.png">
      </a>
    </td>

    <td>
      8
    </td>
    <td>
      Click on a the download button similar to this and install node.js with its default settings.
    <td>
      <img src="/Images/nodeDownload.png">
    </td>

    <td>
      9
    </td>
    <td>
      Go to the folder that you plan on starting your Angular project.  On the directory line, type cmd and press enter.
    <td>
      <img src="/Images/cmd.png">
    </td>

    <td>
      10
    </td>
    <td>
      Run these 2 lines in the cmd and you're ready to get started!
    <td>
      <img src="/Images/setup.png">
    </td>